core*
*.o
bin/*bin
*.bin
*.qdrep
*.out
*.nvprof
*.err
*.npy
*.so
.vscode
build
*.pdf
*.log
.dcgm_off
doc
.DS_Store
.idea
cmake-build-*
*.pyc
.clion.source.upload.marker
*.egg-info
neccomplex
necsingle
fujitsucomplex
fujitsusingle
mklcomplex
mklsingle
cudacomplex
cudasingle
amdcpucomplex
amdcpusingle
*build/